@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin title-text {
    font-weight: $font-bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}