// text colors
$titles-text-color: #4E4E4E;
$text-hover: #57A4A4;
$news-text-color: #5C5C5C;
$news-description-color: #7C7C7C;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;


// typorgaphy
$font-fam: "Roboto", sans-serif;
$font-bold: 700;
$font-reg: 400;