.footer {
    background: #000;
    @include flex-center;
    flex-direction: column;
    padding: 38px 0 47px;

    @media screen and (min-width: 768px) {
        padding: 57px 0 56px;
    }

    @media screen and (min-width: 1200px) {
        padding: 66px 0 70px;
    }

    &__title {
        @include title-text;
        color: $footer-title-color;
    }

    &__text {
        font-weight: $font-reg;
        font-size: 12px;
        line-height: 20px;
        color: $footer-text-color;
        text-align: center;
        width: 303px;
        margin-top: 8px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 28px;
            width: 680px;
        }

        &--more {
            display: none;

            @media screen and (min-width: 768px) {
                display: inline;
            }
        }
    }

    

    &__contacts {
        color: $footer-text-color;
        font-weight: $font-reg;
        font-size: 14px;
        line-height: 24px;
        @include flex-center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 26px;
            flex-direction: row;
            justify-content: space-between;
        }

        a:hover {
            color: $text-hover;
        }
    }

    
}

.icons {
    margin: 25px 0;
    width: 192px;
    height: 34px;
    display: flex;
    justify-content: space-between;

    &__item {
        width: 34px;
        height: 34px;
        @include flex-center;
        border: 2px solid white;
        border-radius: 50%;
        font-size: 12px;
    }
}

.rss-icon {
    border-color: #BF6F23;
    color: #BF6F23;
    
}

.facebook-icon {
    border-color: #2C447A;
    color: #2C447A;
}

.twitter-icon {
    border-color: #3587AF;
    color: #3587AF;
}

.dribbble-icon {
    border-color: #A75E87;
    color: #A75E87;
}

.pinterest-icon {
    border-color: #9D1922;
    color: #9D1922;
}