.header {
    width: 100%;
    position: relative;

    &__menu {
        display: none;
        width: 182px;
        height: 210px;
        background: #F5F5F5;
        position: absolute;
        right: 0;
        top: 37px;

        @media screen and (min-width: 768px) {
            // @include flex-space;
            display: block;
            position: relative;
            top: 0;
            right: 0;
            width: 605px;
            height: auto;
            margin: 0 auto;
            background: none;
        }
    }

    .menu--active {
        display: block;
    }

    &__list {
        @media screen and (min-width: 768px) {
            @include flex-space;
        }
    }

    &__item {
        width: 100%;
        height: 30px;

        @media screen and (min-width: 768px) {
            width: auto;
        }
    }

    &__link {
        text-transform: uppercase;
        color: $titles-text-color;
        font-size: 11px;
        line-height: 22px;
        font-weight: $font-reg;
        letter-spacing: 1.1px;
        width: 100%;
        height: 100%;
        padding-left: 12px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding: 0;
            width: auto;
        }

        &:hover {
            background: #E5E5E5;
            
            @media screen and (min-width: 768px) {
                background: none;
                color: $text-hover;
            }
        }

        &:focus {
            color: $text-hover;
        }
    }


    &__image {
        margin-top: 23px;
        width: 100%;
        height: auto;

        @media screen and (min-width: 768px) {
            margin-top: 43px;
        }

        @media screen and (min-width: 1200px) {
            margin-top: 51px;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 37px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__btn {
        width: 44px;
        height: 37px;
        background: #000000;
    }
}