.instagram {
    padding-bottom: 42px;

    @media screen and (min-width: 768px) {
        background: #F7F7F7;
        padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 13px;
        @include title-text;
        color: $titles-text-color;

        @media screen and (min-width: 768px) {
            position: relative;
            visibility: hidden;
            margin-top: 6px;
            margin-bottom: 35px;

            &::after {
                content: "- Latest Instagram Shots";
                display: inline;
                @include title-text;
                color: $titles-text-color;
                position: absolute;
                top: 0;
                left: 0;
                visibility: visible;
            }
        }
    }

    &__link {
        display: none;
        color: $titles-text-color;
        font-weight: $font-bold;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        position: absolute;
        right: 0px;
        top: 0px;
        
        @media screen and (min-width: 768px) {
            display: inline;
        }

        &:hover {
            color: $text-hover;
        }
    }

    &__gallery {
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
    }

    &__img {
        height: auto;
        width: 100%;
        min-width: 210px;
        max-width: 300px;
    }

}

.wrapper {
    position: relative;
    max-width: 920px;
    
    @media screen and (min-width: 1200px) {
        max-width: 1170px;
    }
}

.img--medium-scr, .img--large-scr {
    display: none;
    margin-left: 10px;
}

.img--medium-scr {
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.img--large-scr {
    @media screen and (min-width: 1200px) {
        display: block;
    }
}