.posts {
    height: 693px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        height: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 69px;
    }

    &__title {
        margin-bottom: 24px;
        @include title-text;
        color: $titles-text-color;
    }

    &__card {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__card--container {
        @media screen and (min-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__img {
        width: 160px;
        height: 140px;
    }
}

.article {
    @media screen and (min-width: 768px) {
        margin-left: 20px;
    }

    &__title {
        font-weight: $font-bold;
        font-size: 14px;
        line-height: 30px;
        color: $titles-text-color;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__footer {
        color: $news-description-color;
        font-weight: $font-reg;
        font-size: 11px;
        line-height: 20px;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
    }

    &__text {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            color: $news-text-color;
            font-weight: $font-reg;
            font-size: 14px;
            line-height: 26px;
        }
    }
}

