@import "./vendors/reset.local.scss";
@import "./vendors/normalize.scss";

@import "./abstracts/_variables";
@import "./abstracts/_mixins";

@import "./layout/_header";
@import "./layout/_posts";
@import "./layout/instagram";
@import "./layout/footer";


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container {
    padding: 23px 28px 0 25px;

    @media screen and (min-width: 768px) {
        padding: 41px 45px 0 40px;
    }

    @media screen and (min-width: 1200px) {
        padding: 45px 35px 0;
        margin: 0 auto;
        max-width: 1170px;
    }
}

.hidden {
    display: none;
}

.section {
    margin-top: 19px;

    @media screen and (min-width: 768px) {
        margin-top: 18px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 24px;
    }
}
